*{
    padding: 0;
    margin: 0;
    font-family: cursive;
}
.about-us{
    min-height: 100vh ;
    width: 101%;
    width: auto;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),
    url(excavator-51665\ .png);
    background-position: center;
    background-size: cover;
    position: absolute;
}
.about-us{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    
    padding-left: 0;
    padding-right: 0;
    margin-left: 1px;
    color: #fff;
}
.about-us h1{
    font-size: 20px;
    margin-top: 30px;
    font-family: cursive;
    text-decoration: underline;
    padding-left: 20px;

}
.about-us h2{
    font-size: 20px;
    margin-top: 40px;
    font-family: cursive;
    text-decoration: underline;
    padding-left: 20px;
}
.about-us p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    padding-left: 10px;
}